div{
background-image: url("/app_map/static/overlay.png");!important;
}

.map{
    position: fixed;
    left:233px;
    top:63px;
    width: 83%;
    height:90%;



}




a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; !important
    margin-bottom: 15px;!important

    border: navajowhite;!important
    color: #008007;!important
    padding: 15px 32px;!important
    text-align: center;!important
    display: inline-block;!important



    text-underline-color: #008007;
    position: relative;!important
    text-decoration: solid;!important


}
td{
    position: relative;
    bottom: 10%;
    left: 10%;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

img{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    z-index: 0;


}
.dropdown-check-list {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    position: absolute;
    top:75px;
    left:5px;

    background-color: rgba(255, 253, 177, 0);
    color: #003a01;

  display: inline-block;
    z-index: 2;
    visibility: visible;
}


.dropdown-check-list .anchor {
  background-color: rgba(255, 253, 177, 0);  color: #003a01;
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: rgba(0, 0, 0, 0.48);
    z-index: 0;
}
.dropdown-check-list .anchor:after {

  position: absolute;
  content: "";
    background-color: rgba(255, 253, 177, 0);
    color: #003a01;
  border-left: 2px solid rgba(0, 0, 0, 0.24);
  border-top: 2px solid rgba(0, 0, 0, 0.63);
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
    z-index: 0;
}
.dropdown-check-list .anchor:active:after {
    background-color: rgba(255, 253, 177, 0);
    color: #003a01;
  right: 8px;
  top: 21%;z-index: 0;
}
.dropdown-check-list ul.items {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    background-color: rgba(255, 253, 177, 0);
    color: #003a01;
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;z-index: 0;
}
.dropdown-check-list ul.items li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    background-color: rgba(255, 253, 177, 0);
    color: #003a01;
  list-style: none;z-index: 0;
}
.dropdown-check-list.visible .anchor {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    background-color: rgba(255, 253, 177, 0);
    color: #003a01;
 z-index: 0;
}
.dropdown-check-list.visible .items {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    background-color: rgba(255, 253, 177, 0);
    color: #003a01;
  display: block;z-index: 0;
}


.olControlMousePosition{
       color: #000000; !important;
       background-color: rgba(197, 198, 193, 0.24);!important
    }

#mm{
    position: inherit;
}

.olPopup
{

	overflow:inherit;
}

.olPopup *

{

    font-family: "Open Sans", Arial, Helvetica, Sans-Serif, serif;
    color: #33805c;
	margin: 0px;
	padding:0px;
	font-size: 14px;
}

.olPopup a.close
{
    background-color: rgba(235, 218, 12, 0.29); !important
	width: 14px;
	height: 14px;
	position: absolute;
	top: 10px;
	right: 28px;

	margin: 0px;
	font-size: 1px;
	padding: 0px;
}

.olPopup a.close:hover
{
	background:rgba(104, 54, 48, 0.29);
}

.olPopupContent
{

	min-width:200px;
    color: darkblue; !important
	background-color: #ff09c4; !important
	padding: 1px !important;
	margin: 0px !important;
	font-size: 0.80em;
}

.olPopup .olPopupContent h2
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: larger;
	text-align: center;
	padding: 2px 0px 2px 0px;
	margin: 0px 6px 0px 6px;
	text-transform:capitalize;
}

.olPopup .olPopupContent table
{

	border: solid;
	overflow: auto;
	padding: 0px;
}

.olPopupContent table td
{

	padding: 4px;
	border: 3px solid #cccccc; !important
}

.olControlScaleLine{
    color: #000000; !important;
    background-color: rgba(197, 198, 193, 0.24);!important
}
.olControlLayerSwitcher {
    background-color: transparent;
    color: white;
    font-family: sans-serif;
    font-size: smaller;
    font-weight: bold;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-top: 3px;
    position: absolute;
    right: 0;
    top: 42px;
    width: 20em;
}

div.olControlZoom a:hover{
    background: rgba(23, 91, 14, 0.63); !important;
}

div.olControlZoom a, div.olControlTextButtonPanel .olButton{
    background: #7cd260;!important;
}

#stat{
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    color: rgba(0, 0, 0, 0.84);
    position: absolute;
    left: 313px;
    top: 78px;
}

#dist{
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    color: rgba(0, 0, 0, 0.84);
    position: absolute;
    left: 550px;
    top: 78px;
}

#cl{
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    color: rgba(0, 0, 0, 0.84);
    position: absolute;
    left: 413px;
    top: 78px;
}


#statistic{
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    min-width: 250px;
    position: absolute;
    left: 290px;
    top: 108px;
}

#distance{
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    min-width: 250px;
    position: absolute;
    left: 527px;
    top: 108px;
}



.olControlEditingToolbar .olControlDrawFeaturePointItemInactive{
    visibility: hidden;!important;
}

.olControlNavToolbar div, .olControlEditingToolbar div{
    margin: 0 300px 15px 15px; !important;
}

.olControlEditingToolbar .olControlDrawFeaturePolygonItemInactive{
    position: absolute;
    top: 11px;!important;

}

.olControlEditingToolbar .olControlDrawFeaturePolygonItemActive{
    position: absolute;
    top: 11px;!important;

}

.olControlEditingToolbar .olControlDrawFeaturePathItemActive{
    position: absolute;
    top: 11px;!important;
    left: 236px; !important;

}

.olControlEditingToolbar .olControlDrawFeaturePathItemInactive{
    position: absolute;
    top: 11px;!important;
    left: 236px; !important;

}
.olControlEditingToolbar{
    top:0;!important;
    left: 50px;!important;
}
.olControlNavToolbar div, .olControlEditingToolbar div {
    background-color: #00aa88;!important;
    background-image: none;!important;
    background-repeat: no-repeat;
    margin: 0 0 300px 5px;!important;
    width: 24px;
    height: 22px;
    cursor: pointer;}