<head>
<meta charset="utf-8">
{% extends 'index.html' %}
</head>
<body>
{% block content %}
<h3 style = "margin-top: 30px;!important; margin-left: 0;!important;text-align: center; ">Вітаємо Вас на нашому геопорталі!</h3>
<h4 style = "margin-top: 30px;!important; margin-left: 30px;!important;">
    <p>В цьому розділі ви дізнаєтесь:</p></h4>
<h5 style = "margin-top: 30px;!important; margin-left: 30px;!important;">
    <a href="#">
      Як влаштований геопортал?
    </a></br>
    <a href="#">
      Як завантажити шари на карту?
    </a></br>
    <a href="#">
      Як дізнатися інформацію в точці?
    </a></br>
    <a href="#">
      Яку прив’язку використовує карта?
    </a></br>
    <a href="#">
      Як порахувати відстань?
    </a></br>
    <a href="#">
      Як надіслати запитання?
    </a></br>
    <a href="#">
      Як порахувати статистику по виборці полів?
    </a></br>
<h6 style = "margin-top: 30px;!important; margin-left: 30px;!important; color: #0D3349 ">
    <p>Також, ви можете задати запитання, якщо у вас виникли проблеми. Якщо ви бажаєте це зробити, просто натисніть на кнопку.
    Усі відповіді ви будете отримувати на власну пошту, яку ви вказуєте під час авторизації.</p>
<button type="button" class="btn btn-success" >Задати запитання</button>


</h6>
</h5>

    <h5 style = " margin-left: 30px;!important;">
    1. Як влаштований геопортал?
    </h5>
    <h6 style = " margin-left: 30px;!important;">
    Загальна структура порталу поділяється на дві частини: меню та контент. На панелі меню ви можете перейти до будь-якого розділу порталу.
    Меню включає в себе три пункти: карта, про проект та допомога.
    Контент підрозділу "Карта" поділяється на дві частини. Зліва Ви можете обрати та завантажити будь-який шар, який існує в базі данних без перезавантаження всієї карти.
    Також, на панелі зліва Ви можете обрати основну карту або знімок НДВІ.
        Основну частину займає карта. Дані на карті відображаються в проекції World Mecator (EPSG: 3857), згідно з проекцією основної карти.



    </h6>
{% endblock %}
<body>
