<meta charset="utf-8">
<style>
    .table_col {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  width: 660px;
  background: white;
  text-align: left;
  border-collapse: collapse;
  color: #3E4347;
}
.table_col th:first-child, .table_col td:first-child {
color: #F5F6F6;
border-left: none;
}
.table_col th {
font-weight: normal;
border-bottom: 2px solid #F5E1A6;
border-right: 20px solid white;
border-left: 20px solid white;
padding: 8px 10px;
}
.table_col td {
border-right: 20px solid white;
border-left: 20px solid white;
padding: 12px 10px;
color: #8b8e91;
}
</style>
<div id = "content" style = ".p{font-family: Arial, Helvetica, sans-serif; }">
{% block content %}

    {% if notobject %}
        {{ notobject }}
    {% endif %}
{% if object %}
    <table>
    <tr>
    <th> </th>
    <th></th>
    </tr>
    <tr>
    <td>Культура:    </td><td>{{ object.crop }}</td>
  </tr>
    <tr>
    <td>Площа поля:    </td><td>{{ object.s_ga}}</td></tr>
    <tr>
    <td>Урожай за рік    </td><td>{{ object.harvest}}</td></tr>
    <tr>
    <td>Середній збір:    </td><td>{{ object.hatrv_inga}}</td></tr>
</table>

{% endif %}

{% endblock %}

</div>