 {% load staticfiles %}
<html>
<head>
  <title>OpenLayers Example</title>





<script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>




              <link rel="stylesheet" media="all" href="{% static "dashboard.css" %}" type="text/css">
<script type='text/javascript' src='http://www.openlayers.org/api/OpenLayers.js'>      </script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" media="all" href="{% static "bootstrap.css" %}" type="text/css">
    <link rel="stylesheet" media="all" href="{% static "main.css" %}" type="text/css">



    </head>
<body>
<div  id="map" class="map">


      <script defer="defer" type="text/javascript">


       var map;


    map = new OpenLayers.Map({
        div: "map",
        projection: new OpenLayers.Projection("EPSG:900913")
    });

    var osm = new OpenLayers.Layer.OSM();
    var gmap = new OpenLayers.Layer.Google("Google Street ");
    map.addLayers([osm, gmap]);

    map.addControl(new OpenLayers.Control.LayerSwitcher());
tiled = new OpenLayers.Layer.WMS(
                    "pixelsolution:gtif - Tiled", "http://localhost:8080/geoserver/pixelsolution/wms",
                    { transparent: 'true', layers:'pixelsolution:c3857',
        format: "image/png", tiled:true});

        var kukuruza = new OpenLayers.Layer.WMS("Кукуруза", "http://localhost:8080/geoserver/pixelsolution/wms",
        { transparent: 'true', layers:'pixelsolution:kukuruza',
        format: "image/png", tiled :true});

       map.addLayers([osm, gmap, tiled, kukuruza]);
    map.setCenter(
        new OpenLayers.LonLat(10.2, 48.9).transform(
            new OpenLayers.Projection("EPSG:4326"),
            map.getProjectionObject()
        ),
        5
    );


          </script>
    </div>
 </body>
 </html>